body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: aquamarine;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
